:root {
  --font-family:  "Montserrat", sans-serif;

  --color-bg: #F2F3F7;
  --dark: #141414;
  
  --color-neumorphic-bg:#F2F3F7;
  --color-neumorphic-shadow-50:  rgba(191, 189, 208, 0.5);
  --color-neumorphic-shadow-70:  rgba(191, 189, 208, 0.7);
  --color-neumorphic-light-50:  rgba(255, 255, 255, 0.5);
  --color-neumorphic-light-70:  rgba(255, 255, 255, 0.7);
}


