

.about {
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      width: 28.75rem;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .title {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 152%;
        letter-spacing: 0.16em;
        text-transform: uppercase;
      }
    }
    .skills {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 15px 20px;
      .item {
        width: 154px;
        text-align: center;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 4px 0 var(--color-neumorphic-shadow-50), -2px -2px 4px 0 var(--color-neumorphic-light-70);
        background-color: var(--color-neumorphic-bg);
      }
    }
  } 
  @media (max-width: 1300px) {
    .inner {
      .skills {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
  @media (max-width: 1150px) {
    .inner {
      .skills {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  @media (max-width: 970px) {
    .inner {
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
      .left {
        width: 100%;
        .title {
          width: 28.75rem;
        }
      }
      .skills {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
  @media (max-width: 720px) {
    .inner {
      .skills {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        .item {
          padding: 5px 5px;
        }
      }
    }
  }
  @media (max-width: 500px) {
    .inner {
      .left {
        width: 100%;
        .title {
          font-size: 1rem;
          width: 18.5rem;
        }
      }
      .skills {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}