
.header {
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .menu {
      .list {
        display: flex;
        gap: 15px;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        .item {
          padding: 12px 20px;
        }
      }
    }
    .btn {
      z-index: 10;
      width: 24px;
      height: 24px;
      display: none;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      justify-content: center;
      & span {
        display: block;
        height: 2px;
        width: 20px;
        background-color: var(--dark);
        transition: 0.3s ease;
      }
      &.active span:first-child {
        transform: rotate(45deg) translateY(3px) translateX(2px);
      }
      &.active span:last-child {
        transform: rotate(-45deg) translateY(-3px) translateX(2px);
      }
    }
    .mobile {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }
  @media (max-width: 768px) {
    .inner {
      .menu {
        display: none;
      }
      .btn {
        display: flex;
      }
    }
  }
}