
.header {
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .menu {
      .list {
        display: flex;
        gap: 15px;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        .item {
          padding: 12px 20px;
        }
      }
    }
  }
  @media (max-width: 570px) {
    .inner {
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      .menu {
        .list {
          .item {
            padding: 8px 12px;
          }
        }
      }
    }
  }
}