
.hero {
  .inner {
    position: relative;
    padding: 250px 82px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--dark);
    .left  {
      .text {
        font-size: 46px;
        font-weight: 500;
        line-height: 120%;
        animation: showText 2s ease-out;
      }
      .subtext {
        animation: showSubtext 3s ease-out;
      }
    }
    .right {
      position: absolute;
      z-index: -10;
      left: 60%;
      transform: translate(-15%, 0);
      .circle {
        border-radius: 50%;
        background-color: var(--color-neumorphic-bg);
        filter: blur(1px);
      }
      .back {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28.125rem;
        width: 28.125rem;
        animation: moveBack ease-in-out 4s infinite alternate;
        .center {
          width: 21.875rem;
          height: 21.875rem;
          animation: moveCenter ease-in-out 4s infinite alternate;
          animation-delay: 4.2s;
        }
      }
    }
    
    @keyframes moveBack {
      0% {
        box-shadow: none;
        transform: rotate(0deg);
      }
      100% {
        box-shadow: inset 0 -30px 40px 0 rgba(255, 255, 255, 0.7), inset 0 30px 40px 0 rgba(191, 189, 208, 0.5);
        transform: rotate(-180deg);

      }
    }
    @keyframes moveCenter {
      0% {
        box-shadow: none;
        transform: rotate(0deg);
      }
      100% {
        box-shadow: 30px 30px 30px 0 rgba(191, 189, 208, 0.5), 0 -30px 30px 0 rgba(255, 255, 255, 0.5); 
        transform: rotate(180deg);
      }
    }
  }
  
  @media (max-width: 1210px) {
    .inner {
      .right {
        transform: translate(-18%, 0);
      }
    }
  }
  @media (max-width: 1170px) {
    .inner {
      .right {
        left: 50%;
        transform: translate(-15%, 0);
      }
    }
  }
  @media (max-width: 1025px) {
    .inner {
      .right {
        .back {
          height: 21.875rem;
          width: 21.875rem;
          .center {
            height: 15.625rem;
            width: 15.625rem;
          }
        }
      }
    }
  }
  @media (max-width: 870px) {
    .inner {
      padding: 250px 20px;
    }
  }
  @media (max-width: 840px) {
    .inner {
      .right {
        .back {
          height: 15.625rem;
          width: 15.625rem;
          .center {
            height: 11.25rem;
            width: 11.25rem;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .inner {
      padding: 150px 20px;
      justify-content: center;
    }
  }
  @media (max-width: 750px) {
    .inner {
      .left {
        .text {
          font-size: 30px;
        }
      }
      .right {
        transform:translate(-50%, 0);
      }
    }
  }
  @media (max-width: 620px) {
    .inner {
      padding: 100px 0;
    }
  }
  @media (max-width: 500px) {
    .inner {
      .left {
        .text {
          font-size: 1.6875rem;
        }
      }
      .right {
        .back {
          height: 12.625rem;
          width: 12.625rem;
          .center {
            height: 9.25rem;
            width: 9.25rem;
          }
        }
      }
    }
  }
  @media (max-width: 400px) {
    .inner {
      .right {
        .back {
          height: 12.625rem;
          width: 12.625rem;
          .center {
            height: 9.25rem;
            width: 9.25rem;
          }
        }
      }
    }
  }
  }
