@use '../../../app/styles/mixins.scss';

.item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 30px;
  .top {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .title {
      @include mixins.h3;
    }
    .description {
      max-width: 350px;
    }
    .btn {
      font-weight: 500;
      border-radius: 10px;
      padding: 12px 20px;
      box-shadow: 8px 8px 10px 0 var(--color-neumorphic-shadow-50), -8px -8px 10px 0 var(--color-neumorphic-light-50);
      background-color: var(--color-neumorphic-bg);
    }
  }
  .link {
    .img {
      border: 8px solid var(--color-neumorphic-bg);
      width: 21.875rem;
      height: 21.875rem;
      border-radius: 50%;
      box-shadow: 30px 30px 40px 0 var(--color-neumorphic-shadow-70), -30px -30px 40px 0 var(--color-neumorphic-light-70);
    animation: moveShadow ease-in-out 4s infinite alternate;
    }
    
  }
  
  .bottom {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .title {
      @include mixins.h3;
    }
    .list {
      width: 300px;
      display: flex;
      margin: auto;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  @keyframes moveShadow {
    0% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(-15deg);
    }
  }
}